/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/docker-compose/mysql/data
cream-cosmetics.iml
composer.lock
package-lock.json
/public/mix-manifest.json
/public/js/app.js
/public/css/app.css
